<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Admin - Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('../partials/header.ejs') %>
  <div class="container">
    <h2>Login - Ãrea Administrativa</h2>
    <% if (erro) { %>
      <p class="error"><%= erro %></p>
    <% } %>
    <form method="post" action="/admin/login">
      <label>Email:</label>
      <input type="email" name="email" required>
      <label>Senha:</label>
      <input type="password" name="senha" required>
      <input type="submit" value="Entrar">
    </form>
  </div>
</body>
</html>
