<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Portal do Cliente</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <p><a href="/admin/login">Área Administrativa</a></p>
  <p><a href="/client/login">Área do Cliente</a></p>
</body>
</html>
